
#projects {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 20%;
}

#projects h2{
    font-size: 2rem;
    margin: 1rem 0;
    padding-bottom: 1%;
    text-align: center;
    width: 100%;
}

#projects ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#projects li{
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: fit-content;
    min-width: 30%;
    text-align: center;
}

#projects a{
    display: block;
    width: 100%;
    color: #390281;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

#projects a:hover,
#projects a:active{
    background-color: #390281;
    color: white;
    border-radius: 10px;
}