
  
  #summary {
    margin: 0rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: #ff9900;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 22rem;
  }
  
  #summary h2 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 0.25rem;
  }
  
  #summary article {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 1rem 1rem;
    border-radius: 12px;
    text-align: right;
    color: white;
  }
  
  #summary article img {
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    transform: rotateZ(5deg);
    border: 5px solid white;
    margin-bottom: 1rem;
  }
  
  #summary address {
    font-weight: bold;
  }

  #summary a {
    color : white;
    text-decoration: none;
    font-weight: bold;
  }
  
  #summary time {
    font-weight: bold;
  } 
  
  main {
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  .caption {
    font-size: 1rem;
    color: #390281;
    margin-bottom: 1rem;
  }

  .tag {
    background-color: white;
    color: #390281;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  .form-control{
    margin-bottom: 1rem;
  }

  .form-control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .form-control input, 
  .form-control textarea{
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  #comment-form{
    padding: 1rem;
    margin: 3rem auto;
    width: 20rem;
    max-width: 40rem;
    width: 90%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  #comment-form button{
    font: inherit;
    background-color: #390281;
    color:white;
    border: 1px solid #390281;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }

  #comment-form button:hover,
  #comment-form button:active{
    background-color: #5706c0;
    border-color: #5706c0;
  }

  .errorlist{
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: red;
  }

  .invalid label{
    color: red;
  }

  .invalid input,
  .invalid textarea{
    border-color: red;
    background-color: rgb(221, 142, 142);
  }

  #alert{
    margin: 8rem auto 3rem auto;
    border: 1px solid red;
    background-color: rgb(221, 142, 142);
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }

  #alert a{
    text-decoration: none;
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
  }

  #comments{
    padding: 1rem 2rem;
    margin: 3rem auto;
    width: 20rem;
    max-width: 60rem;
    width: 90%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  #comments ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #comments li{
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
  }

  #comments li:last-child{
    border-bottom: none;
  }

  #comments h2{
    color: #390281;
  }

  #read-later {
    margin: 2rem 0;
  }

  #like button{
    background-color: transparent;
    border: none;
    padding: 0.5rem 2rem;
    font: inherit;
    color: white;
    cursor: pointer;
    border-radius: 6px;
  }

  #like button:hover,
  #like button:active{
    background-color: white;
    color: #390281;
  }

  #like img{
    width: 2rem;
    height: 2rem;
  }

  #like{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }