{% extends "base.html" %}
{% load static %}

{% block title%}
    Skills
{% endblock %}

{% block  css_files %}
<link rel="stylesheet" href="{% static "skills/skills.css" %}">
{% endblock  %}


{% block content %}
    <h1 class="text-center mb-4">My Programming Skills</h1>
    {% for category in categories %}
    <div class="mb-4">
        <h2 class="mb-3">{{ category.name }}</h2>
        <div class="row">
            {% for skill in category.skills.all %}
            <div class="col-md-2 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                    <img class="card-img-top" src="{{ skill.image.url }}" alt="{{skill.name}}" style="width:50px;">
                    <h5 class="card-title">{{ skill.name }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}