#project-detail {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
}

#project-detail h1 {
    color: #333;
    font-size: 2em;
}

#project-detail img {
    width: 100%;
    height: auto;
}

#project-detail p {
    color: #666;
    font-size: 1em;
}

#project-detail a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

#project-detail h3 {
    color: #333;
    font-size: 1.5em;
}

#project-detail p, ul, li, h3, a, img, h1 {
    margin-bottom: 10px;
  }

#project-detail ul {
    list-style: none;
    padding-left: 0;
}

#project-detail ul li {
    color: #666;
    font-size: 1em;
}

#like button{
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem;
  font: inherit;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

#like button:hover,
#like button:active{
  background-color: white;
  color: #390281;
}

#like img{
  width: 2rem;
  height: 2rem;
}

#like{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#comments{
  padding: 1rem 2rem;
  margin: 3rem auto;
  width: 20rem;
  max-width: 60rem;
  width: 90%;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#comments ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#comments li{
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

#comments li:last-child{
  border-bottom: none;
}

#comments h2{
  color: #390281;
}
  
  #comment-form .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .form-control{
    margin-bottom: 1rem;
  }

  .form-control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .form-control input, 
  .form-control textarea{
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  #comment-form{
    padding: 1rem;
    margin: 3rem auto;
    width: 20rem;
    max-width: 40rem;
    width: 90%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  #comment-form button{
    font: inherit;
    background-color: #390281;
    color:white;
    border: 1px solid #390281;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }

  #comment-form button:hover,
  #comment-form button:active{
    background-color: #5706c0;
    border-color: #5706c0;
  }

  .errorlist{
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: red;
  }

  .invalid label{
    color: red;
  }

  .invalid input,
  .invalid textarea{
    border-color: red;
    background-color: rgb(221, 142, 142);
  }

  #alert{
    margin: 0rem auto 3rem auto;
    border: 1px solid red;
    background-color: rgb(221, 142, 142);
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
  }

  #alert a{
    text-decoration: none;
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
  }

  #comment-form a{
    text-decoration: none;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
  }

