{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
    <section id="about-me" class="my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>{{ about_me.title }}</h1>
                    <p class="text-justify">{{ about_me.content|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="social-links" class="my-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                {% for link in social_links %}
                    <div class="col-auto mb-3">
                        <a class="btn btn-primary" href="{{ link.url }}" title="{{ link.name }}">
                            <img class="img-fluid" src="{% static 'core/images/'|add:link.icon|add:'.png' %}" alt="{{ link.name }} icon" style="width:25px;">
                            {{ link.name }}
                        </a>
                    </div>
                {% endfor %}
                {% if cv %}
                    <div class="col-auto mb-3">
                        <a class="btn btn-primary" href="{{ cv.url }}" download title="Anil_Ilaga_CV">
                            <i class="bi bi-file-person"></i>
                            <span>My CV</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}