{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "core/login.css"%}"/>
{% endblock %}

{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	<h2>Sign Up</h2>
		
	{% for field in form %}
	<p>
		{% if field.errors %}
		<ul class="errorlist">
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	 	{{ field.label_tag }} {{ field }}
	</p>
	{% endfor %}
	<input type="submit" value="Register"/>
	<p>Not new here? <a href="{%url 'core:login' %}">Login</a></p>
</form>
{% endblock content%}