{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center vh-10">
    <form method="POST" class="needs-validation mt-5" novalidate style="max-width: 400px;">
        {% csrf_token %}
        <h2 class="mb-3 text-center">Sign Up</h2>

        {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" required>
            {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>

        <p class="text-center mb-3">Not new here? <a href="{% url 'core:login' %}">Login</a></p>
    </form>
</div>
{% endblock content%}