
#all-skills {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

#all-skills h1 {
  color: #FFFF;
  font-size: 2em;
  margin-bottom: 20px;
}

#all-skills h2 {
  color: #666;
  font-size: 1.5em;
  margin: 10px 0;
}

#all-skills ul[name="category"] {
  list-style: none;
  margin-bottom: 20px;
}

#all-skills ul[name="skill"] {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 10px;
}

#all-skills ul[name="skill"] li {
  display: flex;
  align-items: center; 
  margin: 10px;
  color: #8de5bf
}

#skill-image {
  width: 50px; 
  height: 50px;
  margin-right: 10px; 
}
