{% extends "base.html" %}
{% load static %}

{% block title %}All Projects{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <h2>My Projects</h2>
  <div class="row">
      {% for project in projects %}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card">
              <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
              <div class="card-body">
                  <h5 class="card-title">{{ project.title }}</h5>
                  <a href="{% url "projects:project-detail-page" project.slug %}" class="btn btn-primary">Read More</a>
              </div>
          </div>
      </div>
      {% empty %}
      <div class="col">
          <p>No projects listed.</p>
      </div>
      {% endfor %}
  </div>
{% endblock %}