{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
    {% if messages %}
    <div class="alert alert-warning">
        {% for message in messages %}
            <div class="mb-2">
                <h4>{{ message }}</h4>
                <p>Please login to your account to like the projects.</p>
                <div class="d-flex">
                    <a href="{% url 'core:login' %}" class="btn btn-primary me-2">Login!</a>
                    <a href="{% url 'core:register' %}" class="btn btn-secondary">Register!</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if comment_form.errors %}
    <div class="alert alert-danger">
        <h3>Saving the comment failed!</h3>
        <p>Please check the comment form below the post and fix your errors.</p>
        <a href="#comment-form" class="btn btn-primary">Fix!</a>
    </div>
    {% endif %}

    <div id="project-detail" class="card my-5">
        <div class="card-body">
            <h1>{{ project.title }}</h1>
            <img class="img-fluid" src="{{ project.image.url }}" alt="{{ project.title }}">
            <p>{{ project.description }}</p>
            {% if project.url %}
                <a href="{{ project.url }}" target="_blank" class="btn btn-primary">View Project</a>
            {% endif %}
            <h3>Skills Used:</h3>
            <ul class="list-group">
                {% for skill in project.skills.all %}
                    <li class="list-group-item">{{ skill.name }}</li>
                {% endfor %}
            </ul>

            <div id="like" class="my-3">
                <form action="{% url 'projects:project-detail-page' project.slug %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ project.id }}" name="like">
                    <button class="btn btn-primary">
                    {% if liked %}
                    <img src="{% static 'images/like.png' %}" alt="Like" style="width:35px;">
                    {% else %}
                    <img src="{% static 'images/dislike.png' %}" alt="Dislike" style="width:35px;">
                    {% endif %}
                    <span class="ms-2">{{project.likes.count}}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <section id="comments" class="my-5">
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <h2>{{comment.user.username}}</h2>
                <p>{{comment.text|linebreaks}}</p>
            </li>
        {% empty %}
            <li class="list-group-item">
                <h2>No Comments Yet!</h2>
            </li>
        {% endfor %}
    </ul>
    </section>

    <section id="comment-form" class="my-5">
        <h2>Enter Your Comment</h2>
        {% if request.user.is_authenticated %}
            <h3> Your Username: {{ request.user.get_username }}</h3>
            <form action="{% url 'projects:project-detail-page' project.slug %}" method="POST">
                {% csrf_token %}
                {% for form_field in comment_form %}
                    <div class="mb-3">
                        {{ form_field.label_tag }}
                        {{ form_field }}
                        {% if form_field.errors %}
                            <div class="alert alert-danger">{{ form_field.errors.as_text }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" name="submit_comment" class="btn btn-primary">Save Comment</button>
            </form>
        {% else %}
        <p>Please <a href="{% url 'core:login' %}">log in</a> to submit a comment.</p>
        {% endif %}
    </section>

{% endblock %}