{% extends "base.html" %}
{% load static %}

{% block title%}
    Education
{% endblock %}


{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">My Education</h1>
        <div class="row">
            {% for education in educations %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">{{ education.instution }}</h2>
                        <p class="card-text"><strong>Degree:</strong> {{ education.degree }}</p>
                        <p class="card-text"><strong>Dates:</strong> {{ education.start_date|date:"m/Y" }} - 
                            {% if education.anticipated_graduation %}
                                {{ education.end_date|date:"Y" }}
                            {% else %}
                                {{ education.end_date|date:"m/Y" }}
                            {% endif %}
                        </p>
                        <p class="card-text">{{ education.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock  %}
